page-contest-submit {
    .navbar{
        background-color: #775576;
    }

    .navbar h1{
        color: white;
        font-size: 1.2em;
        font-weight: 200;
        margin: 0;
    }

    .btn-profile{
        background-color: #775576;
    }

    .btn-profile img{
        height: 2em;
    }

    .dropdown-menu{
        padding: 2em;
    }

    .dropdown-item{
        font-size: 1.5em;
        font-weight: 200;
        text-align: left;
        padding-right: 5em;
    }

    .dropdown-item img{
        height: 1.2em;
        padding-right: 1em;
    }

    .dropdown-menu-right{
        right: 0;
        left: auto;
    }

    .body{
        background-image: url(../../assets/imgs/rio.jpg);
        background-position: center;
        background-size: cover;
        color: white;
    }

    h1{
        margin: 1em;
        color: #525252;
        font-weight: 900;
    }

    .pictures{
        background: white;
        color: black;
        margin: .5em;
        border-radius: 1em;
        text-align: center;
    }

    .preview {
        margin: .5em;
        text-align: center;
        max-height: 10em;
        background: none;
    }

    .preview_image {
        max-height: 8em;
    }

    .pictures a{
        color: black !important;
        text-decoration: none;
    }

    .pictures img{
        height: 15vh;
    }

    .divider{
        border-left: 1px solid #ddd;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .description{
        background-color: white;
        color: #525252;
        margin: 1em;
        margin-top: 3em;
        padding: 1em;
        border-radius: 1em;
    }

    .description .bold{
        font-size: 1.3em;
        font-weight: 800;
    }

    .description .thin{
        font-weight: 200;
    }

    .description textarea{
        width: 100%;
        border-width: 1px 0 0 0;
        border-color: #dce4e7;
        padding-top: 1em;
        font-weight: 200;
    }

    .btn{
        font-size: 1.1em;
        padding: .5em;
        width: 100%;
        border-radius: 10em;
    }

    .btn-next{
        background-color: #a96ba7;
        color: white;
        margin-bottom: 1em;
    }
    .btn-back {
        margin-bottom: 1em;
        background-color: #ddd;
    }
    
    .next{
      position: absolute;
      margin-top: 15px;
      margin-left: 50%;
      width: 100%;
      float: right;
    }
}
