$sizeofscreen : calc(100vh - 90px);
$prcofscreen : calc((100vh - 90px)* .8);
$ratio : calc((((100vh - 90px)* .64)*4)/5);
$margin_ratio : calc((100% - (((100vh - 90px)* .64)*4)/5)/2);

page-profiles-load {
    #modal-first{
        display: none;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        overflow: auto;
        background-color: rgba(0,0,0,0.6);
        z-index: 9999;
    }

    .modal-content{
        background: none;
        color: white;
        font-weight: 200;
        font-size: 1.5em;
        text-align: center;
        padding-top: 15vh;
        position: absolute;
    }

    .modal-content img{
        height: 80px;
    }

    .modal-content .tap{
        position: relative;
        margin: auto;
        top: 20vh;
    }

    .modal-content .dislike-img{
        transform: rotate(180deg);
    }

    #just-liked{
        display: none;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        overflow: auto;
        z-index: 8999;
        margin: auto;
        height: 100px;
    }

    #just-disliked{
        display: none;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        overflow: auto;
        z-index: 8999;
        margin: auto;
        height: 100px;
    }

    .navbar {
        background-color: #775576;
        height: 50px;
    }
    .navbar h1 {
        color: white;
        font-size: 1.2em;
        font-weight: 200;
        margin: 0;
    }
    .dropdown-item {
        font-size: 1.5em;
        font-weight: 200;
        text-align: left;
        padding-right: 5em;
    }
    .dropdown-item img {
        height: 1.2em;
        padding-right: 1em;
    }
    .dropdown-menu-right {
        right: 0;
        left: auto;
    }
    .size-back{
      height: 40px;
    }
    .back-s {
        font-size: 2em;
        margin-left: 10px;
        margin-top: 5px;
    }
    .body {
        width: 100vw;
        height: 100vh;
        background-image: url("../assets/imgs/rio.jpg");
        background-position: center top;
        color: white;
    }
    .btn-profile {
        background-color: #775576;
    }
    .btn-profile img {
        height: 2em;
    }
    .my_screen{
      float: left;
      position: relative;
      height: $sizeofscreen;
      //background: red;
      width: 100%;
    }
    .image-gallery{
        position: absolute;
        //background-color: green;
        height: $prcofscreen;
        width: 100%;
    }
    .dropdown-menu {
        padding: 2em;
    }
    .stack {
        height: 100%;
        width: 100%;
        position: absolute;
        margin-top: 4.8%;
        margin-left: $margin_ratio;
    }
    .post_img {
        clear: both;
        position: absolute;
        margin: 0;
        background-position: center;
        background-size: cover;
        //width: 80vh;
        //height: 100vh;
        width: $ratio;
        height: 80%;
    }
    .toolbar{
      position: absolute;
      bottom: 0;
      background-color: black;
      opacity: 0.8;
      width: 100%;
      height: 20%;
      display: block;
    }
    #profile-picture {
        position: absolute;
        height: 50px;
        width: 50px;
        //top: calc((((100vh - 90px)* .2) - 50px)/ 2);
        top: 10px;
        margin-left: 25px;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        box-shadow: 1px 2px 10px #525252;
    }
    .username{
      position: absolute;
      font-style: bold;
      text-transform: capitalize;
      font-size: 1.2em;
      font-family: Helvetica;
      margin-left: 92px;
      margin-top: 8px;
    }
    .description {
        position: absolute;
        //background-color: green;
        width: calc(100% - 92px);
        margin-left: 92px;
        margin-top: 40px;
        height: auto;
        padding-right: 10px;
    }
    .change-cancel {
        position: absolute;
        width: 100%;
        bottom: 0;
        margin: 0px !important;
        button {
            width: 80%;
        }
    }
    .slide-zoom{
      background: contain;
    }

    .report-button {
        background: none;
        outline: none;
        img {
            width: 14vw;
        }
    }
    .modal.show .modal-dialog{
      margin: auto!important;
    }

    .modal-title {
      color: black;
    }

    .modal-header span{
      color: black;
      width: 20px;
    }

    .modal-body p{
      color: black;
      text-align: center;
    }

    .direction {
        position: absolute;
        width: 100%;
        bottom: 12vh;
        margin: 0px !important;
        height: 45px;
        img {
            width: 40px;
        }
        .btn-icon-left {
            position: absolute;
            left: 50px;
        }
        .btn-icon-right {
            position: absolute;
            right: 50px;
        }
    }
}
/**




.size-back{
  height: 40px;
}
.profile-info {
    text-align: center;
}
#profile-picture {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    box-shadow: 1px 2px 10px #525252;
    margin-top: 1em;
    margin-bottom: 1em;
}
.profile-info h2 {
    font-size: 1.3em;
    font-weight: 800;
    padding-bottom: 0;
    margin-bottom: 0;
}
.profile-info p {
    font-size: .9em;
    font-weight: 100;
}
.infos-banner {
    background-color: #dce4e7;
    color: black;
    font-weight: 200;
    text-align: center;
    margin-bottom: 3em;
}
.infos-banner h3 {
    font-size: 1.25em;
    padding-bottom: 0;
    margin-bottom: 0;
    font-weight: 400;
}
.infos-banner p {
    font-size: .8em;
}
.divider {
    border-left: 1px solid #ccc;
    margin-top: 1em;
    margin-bottom: 1em;
}
.photo {
    height: 50vw;
    width: 50vw; //background-image: url("../../assets/imgs/camera_roll_2.png");
    background-position: center;
    background-size: cover;
    margin: auto;
    margin-bottom: 3em;
    position: relative;
}
.photo .votes {
    background: white;
    color: black;
    opacity: .7;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: .5em;
}
.photo .votes p {
    padding: 0;
    margin: 0;
}
.photo .votes .like img {
    height: 30px;
    padding: 0;
}
.photo .votes .dislike img {
    height: 28px;
    transform: rotate(180deg);
    padding: 0;
}

.stack {
    height: 100%;
    width: 100%;
    position: absolute;
    margin-top: 5vw;
    margin-left: 10vw;
}
.direction {
    position: absolute;
    height: 13vw;
    background: none;
    width: 100%;
    bottom: 15vw;
    color: white;
    font-weight: 400;
    padding-top: 1vw;
    z-index: 2;
    margin: 0px !important;
    font-size: 20px;
}
.notif {
    position: absolute;
    height: 16vw;
    background: #ffffff3d;
    width: 100%;
    color: white;
    font-weight: 400;
    padding-top: 1vw;
    box-shadow: 0 0px 7px #0000005c;
    z-index: 2;
}
.vote-img-heart {
    width: 30vw;
}
.vote-img-hand {
    width: 9.5vw;
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scaleX(-1, -1);
    transform: scale(-1, -1);
}
.btn-rate {
    background: none;
    outline: none;
}
.vote-img-report {
    width: 14vw;
}
#photo1-vote-score {
    color: white;
}
#photo1-vote-ranking {
    color: white;
}
.description {
    color: black;
    padding-top: 10px;
}
.btn-icon {
    height: 40px;
    object-fit: contain;
}

.action-area{
    width: 80vw;
    height: 110vw;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
    display: flex;
    align-items: center;

    .main-actions {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-top: 10vw;

        div {
            padding: 0.5em;
            border-radius: 2em;
            background-color: #a96ba7;
            width: 5em;
            text-align: center;
        }
    }
}
}

**/
