page-dashboard {
    /*BEGIN TOOLBAR CSS*/
    .navbar{
        background-color: #775576;
    }

    .navbar h1{
        color: white;
        font-size: 1.2em;
        font-weight: 200;
        margin: 0;
    }

    .btn-profile{
        background-color: #775576;
    }

    .btn-profile img{
        height: 2em;
    }

    .dropdown-menu{
        padding: 2em;
    }

    .dropdown-item{
        font-size: 1.5em;
        font-weight: 200;
        text-align: left;
        padding-right: 5em;
    }

    .dropdown-item img{
        height: 1.2em;
        padding-right: 1em;
    }

    .dropdown-menu-right{
        right: 0;
        left: auto;
    }
    /*END TOOLBAR CSS*/

    .contest, .about{
        height: 48%;
        margin: 0;
        position: relative;
    }

    .contest{
        background-image: url(../assets/imgs/rio.jpg);
        background-size: cover;
        background-position: center;
        color: white;
    }

    .about{
        background-image: url(../assets/imgs/Watog.jpg);
        background-size: cover;
        background-position: center;
        color: white;
    }

    .label-area{
        background-color: rgba(169, 107, 167, 0.8);
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding-bottom: .5em;
    }

    .vertical-align-center{
        height: 100%;
    }

    .poce-bleu{
        height: 12vh;
        transform: rotate(-15deg);
        position: relative;
        top: 25%;
        margin: auto;
    }
}
