page-dashboard {
    /*BEGIN TOOLBAR CSS*/
    .header-bar{
        .navbar{
            background-color: #775576;
            text-align: center;
        }

        .toolbar-background {
            background-color: #775576;
        }
        .title {
            padding-left: 0px !important;
            padding-right: 0px !important;

            .toolbar-title {
                color: #fff;
                margin: 4px 0px;
            }
        }
    }

    .header-action-bar {
        position: absolute !important;
        right: 10px;
    }
    /*END TOOLBAR CSS*/
    .main-container{
        position: relative;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-board{
        max-height: 100%;
    }
    .board-row {
        padding: 2px 4px;
        margin: 0px;
    }
    .board-item {
        width: calc(50vw - 8px);
        text-align: center;
        .item-image {
            height: 150px;
            width: 100%;
            background: #dddddd;
            background-size: cover;
            background-position: center;
        }

        .item-title {
            background-color:  rgba(169, 107, 167, 0.8);
            font-size: 16px;
            padding: 8px 0px;
            color: white;
        }
    }

    .board-item:nth-child(odd) {
        margin-right: 2px;
    }

    .board-item:nth-child(even) {
        margin-left: 2px;
    }
    .watog{
        background-image: url(../assets/imgs/watog.png) !important;
    }
    .watog-contest{
        background-image: url(../assets/imgs/watog-contest.png) !important;
    }
    .learn{
        background-image: url(../assets/imgs/learn.png) !important;
    }
    .chatroom{
        background-image: url(../assets/imgs/chatroom.png) !important;
    }
    .live{
        background-image: url(../assets/imgs/live.png) !important;
    }
    .setting{
        background-image: url(../assets/imgs/setting.png) !important;
    }
    @media screen and (min-width: 768px) {
        .item-image { height: 250px !important; }
    }
    @media screen and (min-width: 1024px) {
        .item-image { height: 300px !important; }
    }
}
