page-best-photo {
  .navbar{
    background-color: #775576;
  }

  .navbar h1{
    color: white;
    font-size: 1.2em;
    font-weight: 200;
    margin: 0;
  }

  .btn-profile{
    background-color: #775576;
  }

  .btn-profile img{
    height: 2em;
  }

  .nav-back{
    position: absolute;
    top: 0px;
    height: 40px;
    width: 100%;
    z-index: 2;
    left: 10px;
    a{
      i{
        color: white;
        font-size: 4em;
      }
    }
  }

  .dropdown-menu{
    padding: 2em;
  }

  .dropdown-item{
    font-size: 1.5em;
    font-weight: 200;
    text-align: left;
    padding-right: 5em;
  }

  .dropdown-item img{
    height: 1.2em;
    padding-right: 1em;
  }

  .dropdown-menu-right{
    right: 0;
    left: auto;
  }

  .body{
    color: white;
    padding: 0px;
  }

  .container{
    padding:0px;
  }

  .divider{
    border-left: 1px solid #ccc;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .photo-small {
    height: 20vw;
    width: 20vw;
    //background-image: url("../../assets/imgs/camera_roll_2.png");
    background-position: center;
    background-size: cover;
    margin-bottom: 3em;
    position: relative;
  }

  .photo-img{
    position: relative;
    height: calc(100% - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;
    .vote-card-legend{
      position: absolute;
      bottom: 0px;
      background-color: black;
      opacity: .7;
      width: 100%;
      padding: 1em;
      text-align: center;
      font-weight: bold;
    }
    img{
      width: 100%;
    }
  }

  .photo-col {
    display: inline-flex;
  }

  .vote-img-heart {
    width: 24vw;
  }

  .vote-img-hand {
    width: 14vw;
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scaleX(-1, -1);
    transform: scale(-1, -1);
  }

  .votes {
    background: #ffffff2b;
    width: 100vw;
    position: absolute;
    bottom: 0;
  }

  .photo .votes{
    background: white;
    color: black;
    opacity: .7;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: .5em;
  }

  .photo .votes p{
    padding: 0;
    margin: 0;
    color: black;
  }

  .photo .votes .like img{
    height: 30px;
    padding: 0;
  }

  .photo .votes .dislike img{
    height: 28px;
    transform: rotate(180deg);
    padding: 0;
  }

  #photo1-vote-score{
    color:black;
  }
  #photo1-vote-ranking{
    color:black;
  }
  .photo-section {
    height: 100%;
    .container {
      height: 100%;
    }
  }
}
