<ion-content class="body">
    <div class="navbar">
      <a href="#" (click)="goToDashboard()"><img src="assets/icon/Menu.png" alt="Menu icon"></a>
      <h1>Profile</h1>
      <div class="btn-group">
        <button type="button" class="btn btn-profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="assets/icon/Profil02.png" alt="profile icon">
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <button type="button" class="dropdown-item"><img src="assets/icon/Profil.png" alt="profile icon"> Profile</button>
          <hr>
          <button type="button" class="dropdown-item" (click)="goToSettingsPage()"><img src="assets/icon/Gear.png" alt="profile icon"> Settings</button>
          <hr>
          <button type="button" class="dropdown-item" (click)="logout()"><img src="assets/icon/Logout.png" alt="profile icon"> Logout</button>
        </div>
      </div>
    </div>
    <section class="profile-info">
      <div id="profile-picture" class="container-fluid" [ngStyle]="{'background-image':'url(' + auth.picture_profile + ')'}"></div>
      <h2 id="pseudo">{{ auth.first_name + ' ' + auth.last_name }}</h2>
      <p id="qualification">{{ proffesion }}</p>
      <p id="location"><img src="assets/icon/LocationWhite.png" alt="location icon"><div>{{ auth.country }} {{ auth.state }}</div></p>
    </section>
    <section class="infos-banner">
      <div class="container">
        <div class="row">
          <div class="col">
            <h3 id="best-rank">{{ auth.vote_rank }}</h3>
            <p>Best Rank</p>
          </div>
          <div class="divider"></div>
          <div class="col">
            <h3 id="votes">{{ auth.up_vote_count }}</h3>
            <p>Votes(total)</p>
          </div>
          <div class="divider"></div>
          <div class="col">
            <h3 id="new-votes">{{ auth.week_vote_count }}</h3>
            <p>New votes(This week)</p>
          </div>
        </div>
      </div>
    </section>
    <section class="photo-section">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="grid-container">
              <div id="photo1" class="grid-item" [ngStyle]="{'background-image':'url(' + auth.good_posts[1].picture + ')'}" *ngIf="auth && auth.good_posts && auth.good_posts[1]" (click)="goToBestPhoto(1)"></div>
              <div id="photo1" class="grid-item" [ngStyle]="{'background-image':'url(' + auth.good_posts[2].picture + ')'}" *ngIf="auth && auth.good_posts && auth.good_posts[2]" (click)="goToBestPhoto(2)"></div>
              <div id="photo1" class="grid-item" [ngStyle]="{'background-image':'url(' + auth.good_posts[3].picture + ')'}" *ngIf="auth && auth.good_posts && auth.good_posts[3]" (click)="goToBestPhoto(3)"></div>
              <div id="photo1" class="grid-item" [ngStyle]="{'background-image':'url(' + auth.good_posts[4].picture + ')'}" *ngIf="auth && auth.good_posts && auth.good_posts[4]" (click)="goToBestPhoto(4)"></div>
            </div>
          </div>
          <div class="col" *ngIf="auth && auth.good_posts && auth.good_posts[0]">
            <div id="photo1" class="grid-item-double" [ngStyle]="{'background-image':'url(' + auth.good_posts[0].picture + ')'}" (click)="goToBestPhoto(0)"></div>
          </div>
        </div>
      </div>
    </section>
</ion-content>
