page-edit-chat-room {
    // start header bar
    .header-bar{
        .navbar{
            background-color: #775576;
            text-align: center;
            padding-left: 0px;
            padding-right: 0px;
        }

        .toolbar-background {
            background-color: #775576;
        }
        .title {
            padding-left: 0px !important;
            padding-right: 0px !important;

            .toolbar-title {
                color: #fff;
                margin: 4px 0px;
            }
        }        
    }
    .btn-back{
        position: absolute !important;
        button {
            background-color: transparent;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            -webkit-transition: none !important;
            transition: none !important;
            transition: none !important;
            transition: none !important;
        }
        .icon-back{
            font-size: 22px !important;
        }
    }
    .header-action-bar {
        position: absolute !important;
        right: 10px;
    }
    // end header bar

    .title-view{
        margin-top: 30px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.36);
        input{
            width: 100%;
            padding: 7px 15px;
            font-size: 20px;
        }
    }

    .img-view{
        margin-top: 20px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.36);
        text-align: center;
        .main-avatar {
            margin-top: 15px;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: 0.55px solid #c8c7cc;
        }
        .btn-change-image{
            margin : 5px 10px;
            img {
                width: 60px;
                height: 60px;
            }
        }
    }

    .btn-update{
        background-color: #775576;
        position: absolute;
        width:calc(100vw - 40px);
        margin-left: 20px;
        bottom: 30px;
    }
}
