<ion-header class="header-bar">
    <div class="navbar">
        <ion-buttons class="btn-back" (click)="goBack()">
            <button ion-button><ion-icon class="icon-back"name="arrow-back"></ion-icon></button>
        </ion-buttons>
        <ion-title>Edit Chat Room</ion-title>
        <header-action-bar class="header-action-bar"></header-action-bar>
    </div>
</ion-header>
<ion-content  id="profileboard" no-padding>

    <div class="title-view" >
        <ion-input type="text" class="input-title" [(ngModel)]="title" placeholder="Room Name">{{title}}</ion-input>
    </div>

    <div class="img-view">
        <img class="main-avatar" *ngIf="avatar" [src]="avatar">
        <img class="main-avatar" *ngIf="!avatar" src="../../assets/imgs/image_group_avatar.png">
        <ion-row class="btn-change-image">
            <ion-col (click)="TakeaPicture()" col-6>
                <img src="assets/imgs/appareil.png" alt="camera">
                <p class="font-weight-light text-center">Take a Picture</p>
            </ion-col>
            <ion-col (click)="navToGallery()" col-6>
                <img src="assets/imgs/on_your_computer.png" alt="On your computer">
                <p class="font-weight-light text-center">On your device</p>
            </ion-col>
        </ion-row>
        <div class="description">
            <ion-textarea placeholder="Description" rows="4"
            [(ngModel)]="description" name="description" autocomplete="on" autocorrect="on">{{description}}</ion-textarea>
        </div>

        <div class="input-group">
            <ion-input type="text" class="form-control font-weight-light" id="memberLimit" aria-describedby="passwd-picture" placeholder="Insert the max number of persons in the room" [(ngModel)]="memberLimit" contenteditable="false"></ion-input>
        </div>
    </div>

    <button ion-button round class="btn-update" (click)="update()">Update</button>
</ion-content>
