page-password-reset {
    .body{
        background-image: url(../../assets/imgs/rio.jpg);
        background-position: center;
        background-size: cover;
        color: white;
    }

    .second-title img{
        margin-top: 1.5em;
        height: 2.5em;
    }

    .second-title p{
        text-align: center;
        color: white;
        margin-top: .5em;
        font-size: 2em;
        font-weight: 400;
    }

    .form-control{
        border-radius: 50em;
        font-size: 1.2em;
        padding: 0em;
        border-left: none;
        max-width: 100%;
    }

    .input-group{
        padding: 1.2em;
    }

    .input-group-text{
        background-color: white;
        border-radius: 50em;
        padding-left: 2em;
    }

    .input-group-text img{
        height: 2em;
    }

    .text-input{
        margin: .6em;
    }

    .input-cover{
        display: none;
    }

    .div-btn-submit{
        padding: .7em;
    }

    .btn-submit{
        background-color: #a96ba7;
        color: white;
        font-size: 1em;
        border-radius: 50em;
        padding: .9em;
        width: 100%;
        margin-top: 2em;
    }

    .alert-text {
        color: #dab9e2;
    }
}
