<ion-content class="body">
  <div class="navbar">
    <a href="#" (click)="goToDashboard()"><img src="../../assets/icon/Menu.png" alt="Menu icon"></a>
    <h1>Contest Vote</h1>
    <div class="btn-group">
      <button type="button" class="btn btn-profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="../../assets/icon/Profil02.png" alt="profile icon">
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <button type="button" class="dropdown-item" (click)="goToProfilePage()"><img src="../../assets/icon/Profil.png" alt="profile icon"> Profile</button>
        <hr>
        <button type="button" class="dropdown-item" (click)="goToSettingsPage()"><img src="../../assets/icon/Gear.png" alt="profile icon"> Settings</button>
        <hr>
        <button type="button" class="dropdown-item" (click)="logout()"><img src="../../assets/icon/Logout.png" alt="profile icon"> Logout</button>
      </div>
    </div>
  </div>
  <div class="size-back" (click)="goBack()">
    <ion-icon class="back-s" name="arrow-back"></ion-icon>
  </div>
  <div id="profile-picture" class="container-fluid" [ngStyle]="{'background-image':'url(' + picture_url + ')'}" (click)="showImageGallery()">
  </div>
  <h2>Vote For your Favorite Pictures !</h2>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><img src="../../assets/icon/Groupe 2.png" alt="pseudo icon"></span>
    </div>
    <ion-input [(ngModel)]="data.name" (ionFocus)="checkFocus()"
      type="text" class="form-control font-weight-light" id="PseudoInput" aria-describedby="pseudo-picture" placeholder="Search @username or #keyword" name="Pseudo">

    </ion-input>
  </div>
  <!--Removed Suggestions as they will not be implemented-->
  <div ion-text class="danger text-center" *ngIf="data.error">{{data.error}}</div>
  <div ion-text class="danger text-center" *ngIf="searching">Searching photos...</div>

  <div class="text-center">
    <button class="btn btn-search" (click)="onSearchClick()" [disabled]="searching">SEARCH</button>
  </div>
  <section class="random">
    <p>You will vote for other participant's pictures.</p>
    <p class="weight-bold">A vote ponderation is applied depending on your status / profile.</p>
  </section>
  <div class="text-center">
    <button class="btn btn-random" (click)="onRandomClick()">RANDOM</button>
  </div>
</ion-content>
