page-room-create {
    // start header bar
    .header-bar{
        .navbar{
            background-color: #775576;
            text-align: center;
            padding-left: 0px;
            padding-right: 0px;
        }

        .toolbar-background {
            background-color: #775576;
        }
        .title {
            padding-left: 0px !important;
            padding-right: 0px !important;

            .toolbar-title {
                color: #fff;
                margin: 4px 0px;
            }
        }        
    }
    .btn-back{
        position: absolute !important;
        button {
            background-color: transparent;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            -webkit-transition: none !important;
            transition: none !important;
            transition: none !important;
            transition: none !important;
        }
        .icon-back{
            font-size: 22px !important;
        }
    }
    .header-action-bar {
        position: absolute !important;
        right: 10px;
    }
    // end header bar

    .input-group {
        padding: 1em;
        .form-control {
            border-radius: 50em !important;
            font-size: 1.2em;
            padding: 0em;
            width: 100% !important;
            padding-left: 20px !important;
            padding-right: 20px !important;
            max-width: 100%;
        }
        .select-text{
            padding-left: 8px;
        }
        .is-invalid {
            border-color: red;
        }
        .error-message {
            text-align: center;
            width: 100%;
            color: red;
        }
    }
    .select-icon {
        display: none;
    }
    .form-control.select {
        padding: 10px;
    }
    a#qualificationInput {
        text-align: center;
        color: black !important;
        border: none;
        text-decoration: none;
        width: 100%;
        input {
            // text-align: center;
            margin: 13px 0px;
        }
    }
    .input-cover {
        display: none;
    }
    .div-btn-submit{
        padding: .7em;
        position: absolute !important;
        width: 100%;
        @include browser(Android) {
            bottom: 4em;
        }

        @include browser("iPhone" "iPad") {
            bottom: 0em;
        }
    }
    .btn-submit{
        background-color: #a96ba7;
        color: white;
        font-size: 1em;
        border-radius: 50em;
        padding: .7em;
        width: 100%;
        opacity: 1;
    }
    .or-view{
        text-align: center;
    }
    .search-bar{
        margin-top : 10px; 
        margin-right: 0px !important;
        margin-left: 0px !important;
        padding : 0px;
        display: flex;
        align-items: center;
        border: 1px solid #c8c7cc !important;
        .search-view{
            border-radius: 10px;
            background-color : #ffffff;
            display: flex;
            align-items: center;
            padding : 0px; 
            input {
                font-size: 18px;
                flex: 1;
                padding-left: 10px;
            }             
        }
        .icon-sm{
            font-size : 22px;
            margin-right : 10px;
        }
        
        .search-btn-view{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color : #e5e5e5;
            text-align: center;
            ion-icon {
                margin-right: 0px !important;
            }
        }
    }

    // .selected-member{
        .selected-member-scroll{
            // position: relative;
            border-bottom: 0.55px solid #c8c7cc;
            height: 110px;
            white-space: nowrap;
            margin-top: 15px;
            display: flex;
            align-items: center;
            
            .selected-member-item{
                width: 120px;
                display: table-cell;
                padding: 5px;
                text-align: center;
                .name{
                    margin-bottom : 0px !important;
                    margin-top: 5px !important;
                }
            }
            
            .scroll-content{
                padding: 0px !important;                
            }  
        }
        .icon-blue{
            color : #a96ba7;
        }
    // }
    .image-avatar {
        min-width: 50px;
        min-height: 50px;
        display: inline-block;
        position: relative;
        img {
            border-radius: 50%;
            width: 50px;
            height: 50px;
            border : 0.55px solid #c8c7cc;
            background-image: url(../assets/imgs/image_avatar.png);
            background-size: cover;
            background-position: center;
        }
        ion-icon {
            position: absolute !important;
            font-size: 23px;
            bottom: -2px;
            right: -5px;
        }
    }
    .all-member-scroll{
        margin-top : 15px;
        margin-bottom: 15px;
        ion-item{
            padding-left:0px;
            border: none !important;
            .item-inner{
                padding-right: 0px !important;
                .label-md{
                    margin: 0px !important;
                }
            }
            .member-item{
                padding : 10px 15px;
                display: flex;
                align-items: center;
                background-color: #efefef;
                margin-bottom: 2px;
                border-radius: 5px;
                .member-content{
                    flex : 1;
                    margin-left: 15px;
                    p{
                        margin-top: 5px;
                    }
                }
            }
        }
    }
}
