<!-- Generated template for the HeaderActionBarComponent component -->
<div class="btn-group">
  <!--button type="button" class="btn btn-toolbar">
    <ion-icon name="ios-mail-outline" class="toolbar-icon"></ion-icon>
  </button>
  <button type="button" class="btn btn-toolbar">
    <ion-icon name="ios-notifications-outline" class="toolbar-icon"></ion-icon>
  </button-->
  <button type="button" class="btn btn-toolbar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <ion-icon name="ios-person-outline" class="toolbar-icon" large></ion-icon>
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    <button type="button" class="dropdown-item" (click)="goToProfilePage()"><img src="assets/icon/Profil.png" alt="profile icon"> Profile</button>
    <hr>
    <button type="button" class="dropdown-item" (click)="goToSettingsPage()"><img src="assets/icon/Gear.png" alt="profile icon"> Settings</button>
    <hr>
    <button type="button" class="dropdown-item" (click)="logout()"><img src="assets/icon/Logout.png" alt="profile icon"> Logout</button>
  </div>
</div>