.nav-custom-menu {
	.scroll-content {
		background-color: #efefef;
	}
}
.menu-header{
	height: 40px;
	display: flex;
	align-items: center;
	background-color: #775576;
	color: white;
	text-transform: capitalize;
	padding: 0 16px;

	.profile_picture {
		overflow: hidden;
		height: 30px;
		width: 30px;
		border-radius: 50%;
		margin-right: 0.5em;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
.menu-list {
	margin-top: 2rem;
}

.meun-item {
	border: none !important;
	background-color: #efefef;
	.item-inner {
		border-bottom: none !important;
	}
	.watog-icon {
		width: 30px;
		height: 30px;
		margin-right: 20px !important;
	}
	.participate-icon {
		width: 35px;
		height: 35px;
		margin-right: 15px !important;
	}

	.vote-icon {
		width: 28px;
		height: 28px;
		margin-right: 22px !important;
	}
	img {

	}
}

.button {
	font-size: 14px;
	outline: 0 !important;
}

.btn-s {
	margin-top: 10%;
	background-color: #a96ba7;
}

.btn-ss {
	margin-top: 10px;
	background-color: #a96ba7;
}

.button[color="teal"] {
	background-color: #a96ba7;
}

.button[color="teal"].activated {
	background-color: #a360a1;
}

.modal-open .modal {
	background-color: rgba(0, 0, 0, 0.4);
	.modal-header {
		padding: 15px 20px;
		.close {
			font-size: 22px;
		}
	}
	.modal-dialog {
		margin: 20px;
		.modal-content {
			border-radius: 10px;
		}
	}
}
.modal-backdrop {
	display: none;
}
.splash{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 999;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url(../../assets/imgs/rio.jpg);
	background-position: center top;
}
.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

#consentCertified {
	position: relative;
	top: 2px;
}

.take-picture-container {
	height: 15vh;
	display: flex;
	align-items: center;
	justify-content: center;

	.computer-img {
		height: 12vh !important;
	}
}

.category-title {
	font-weight: bold;
	color: #a96ba7;
}


@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
.navbar a{
  position: static;
}
.size-back{
  width: 12vw;
  height: 12vw;
}
/*.navbar a i{
  color: white;
  font-size: 10vw!important;
  left: 5vw;
  position: absolute;
  top: 4px;
}
.back-s{
  font-size: 8vw!important;
  margin-left: 3vw!important;
}*/
