page-modal-principles {
    .body{
        background-image: url('../../assets/imgs/rio.jpg');
        background-position: center;
        background-size: cover;
    }

    .main{
        position: relative;
        z-index: 1;
        margin: 0;
        padding: 1.5em;
        background-color: rgba(82, 82, 82, 0.5);
    }

    .main-inside{
        background: white;
        border-radius: 1em;
    }

    .title{
        background: #774576;
        color: white;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        text-align: center;
        padding: 1em;
    }

    .title h1{
        padding: 0;
        margin: 0;
        font-size: 1.4em;
        font-weight: 400;
    }

    .main ol{
        margin-top: 3em;
    }

    .main li{
        margin: 1em;
        font-size: 1.2em;
    }

    .btn-next{
        margin: 3em;
        padding-left: 2em;
        padding-right: 2em;
        background: white;
        box-shadow: 0 0 15px 1px #dce4e7;
    }

    .btn-next img{
        height: 70px;
    }

    .btn-next p{
        font-size: 1.5em;
    }

    .big-purple{
        font-weight: 900;
        color: #a96ba7;
    }

    .btn-back{
        background-color: #DCE4E7;
        color: black;
        margin-top: 3em;
        padding: .7em;
        border-radius: 10em;
        font-size: 1.1em;
        font-weight: 200;
        padding-right: 2em;
        padding-left: 2em;
    }
}
