page-upload-watog-logo {

  .body{
    background-image: url('../assets/imgs/rio.jpg');
    background-position: center top;
    color: white;
  }

  .container {
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar a i{
    color: white;
    font-size: 4em;
  }

  a{
    color: white !important;
    text-decoration: underline;
  }

  .bold{
    font-weight: 600;
  }

  .img-fluid-height{
    height: 5em;
    margin: auto;
  }

  .text-huge{
    font-size: 2.3em;
  }

  h2{
    font-size: 1.4em;
    font-weight: 400;
    margin-top: 5vh;
    margin-bottom: 10vh;
  }

  .pictures{
    background: white;
    color: black;
    margin: .5em;
    border-radius: 1em;
  }

  .pictures a{
    color: black !important;
    text-decoration: none;
  }

  .divider{
    border-left: 1px solid #ddd;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  p.text-huge{
    text-align: center;
  }
  .logo-img-section {
    p {
      text-align: center;
      font-size: 20px;
    }
  }
}
