page-contact-list {
    // start header bar
    .header-bar{
        .navbar{
            background-color: #775576;
            text-align: center;
            padding-left: 0px;
            padding-right: 0px;
        }

        .toolbar-background {
            background-color: #775576;
        }
        .title {
            padding-left: 0px !important;
            padding-right: 0px !important;
            min-height: 41px;
            .toolbar-title {
                color: #fff;
                margin: 4px 0px;
            }
        }        
    }
    .btn-back{
        position: absolute !important;
        button {
            background-color: transparent;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            -webkit-transition: none !important;
            transition: none !important;
            transition: none !important;
            transition: none !important;
        }
        .icon-back{
            font-size: 22px !important;
        }
    }
    .header-action-bar {
        position: absolute !important;
        right: 10px;
    }
    // end header bar

    .search-bar{
        margin-top : 10px; 
        margin-right: 0px !important;
        margin-left: 0px !important;
        padding : 0px;
        display: flex;
        align-items: center;
        border: 1px solid #c8c7cc !important;
        .search-view{
            border-radius: 10px;
            background-color : #ffffff;
            display: flex;
            align-items: center;
            padding : 0px; 
            .text-input {
                font-size: 18px;
                flex: 1;
                padding: 5px 10px;
                margin: 0px;
            }             
        }
    }
    .image-avatar {
        min-width: 50px;
        min-height: 50px;
        display: inline-block;
        position: relative;
        img {
            border-radius: 50%;
            width: 50px;
            height: 50px;
            border : 0.55px solid #c8c7cc;
            background-image: url(../assets/imgs/image_avatar.png);
            background-size: cover;
            background-position: center;
        }
        ion-icon {
            position: absolute !important;
            font-size: 23px;
            bottom: -2px;
            right: -5px;
        }
    }
    .all-member-scroll{
        margin-top : 15px;
        margin-bottom: 15px;
        ion-item{
            padding-left:0px;
            border: none !important;
            .item-inner{
                padding-right: 0px !important;
                .label-md{
                    margin: 0px !important;
                }
            }
            .member-item{
                padding : 10px 15px;
                display: flex;
                align-items: center;
                background-color: #efefef;
                margin-bottom: 2px;
                border-radius: 5px;
                .member-content{
                    flex : 1;
                    margin-left: 15px;
                    p{
                        margin-top: 5px;
                    }
                }
            }
        }
    }
}
