page-ad-modal {
    .body{
        background-image: url('../../assets/imgs/rio.jpg');
        background-position: center;
        background-size: cover;
    }

    .main{
        position: relative;
        z-index: 1;
        margin: 0;
        padding: 0;
        background-color: rgba(82, 82, 82, 0.5);
        min-height: 100vh;
        .main-inside{
            background: white;
            height: calc(100vh - 50px);
        }
    }   

    .title{
        background: #774576;
        color: white;
        text-align: center;
        padding: 1em;
    }

    .title h1{
        padding: 0;
        margin: 0;
        font-size: 1.4em;
        font-weight: 400;
    }
}
