page-vote-random {
    .navbar{
        background-color: #775576;
    }

    .navbar h1{
        color: white;
        font-size: 1.2em;
        font-weight: 200;
        margin: 0;
    }

    .btn-profile{
        background-color: #775576;
    }

    .btn-profile img{
        height: 2em;
    }

    .dropdown-menu{
        padding: 2em;
    }

    .dropdown-item{
        font-size: 1.5em;
        font-weight: 200;
        text-align: left;
        padding-right: 5em;
    }

    .dropdown-item img{
        height: 1.2em;
        padding-right: 1em;
    }

    .dropdown-menu-right{
        right: 0;
        left: auto;
    }

    .body{
        background-image: url(../../assets/imgs/rio.jpg);
        background-position: center;
        background-size: cover;
        color: white;
    }

    .vote-card{
        margin: 1em;
        background-color: white;
    }


    .vote-card-img{
        height: 45vh;
        background-position: center top;
        background-size: cover;
        position: relative;
    }

    .separate{
      display: table;
      left:0;
      margin-left: 0;
      position: relative;
      width: auto;
      padding-right: 30px;
      height: 70px;
      opacity: 0.4;
      border-radius: 0px 0px 60px 0px;
      background: white;
    }

    #avant{
      font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
      text-transform: capitalize;
      color: black;
      float: left;
      margin-left: 12px;
      margin-top: 22px;
    }

    #profile-picture{
      float: left;
      margin-left: 8px;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-position: center;
      background-size: cover;
      box-shadow: 1px 2px 10px #525252;
      margin-top: 1em;
      margin-bottom: 1em;
    }

    .vote-card-legend{
        position: absolute;
        bottom: 0;
        background-color: black;
        opacity: .7;
        width: 100%;
        padding: 1em;
        font-weight: 200;
    }

    .vote-card img{
        height: 5vh;
    }

    .vote-card .btn{
        background-color: white;
    }

    .vote-card-description{
        margin-top: 2em;
    }

    .vote-card-description .btn{
        font-size: 1.2em;
    }

    .btn-dislike img{
        transform: rotate(180deg);
    }

    .back-s {
      font-size: 2em;
    }
    .item {
        width: auto;
        margin: 1.5em;
        border-radius: 1em;
    }
}
