page-futur-near-term-goals {
    .scroll-content {
        display: flex;
        flex-direction: column;
        overflow-y: hidden !important;
    }

    .navbar{
        background-color: #775576;
    }

    .navbar h1{
        color: white;
        font-size: 1.2em;
        font-weight: 200;
        margin: 0;
    }

    .btn-profile{
        background-color: #775576;
    }

    .btn-profile img{
        height: 2em;
    }

    .dropdown-menu{
        padding: 2em;        
    }

    .dropdown-item{
        font-size: 1.5em;
        font-weight: 200;
        text-align: left;
        padding-right: 5em;
    }

    .dropdown-item img{
        height: 1.2em;
        padding-right: 1em;
    }

    .dropdown-menu-right{
        right: 0;
        left: auto;
    }

    .body{
        background-image: url(../../assets/imgs/rio.jpg);
        background-position: center;
        background-size: cover;
        color: white;
    }

    .title {
        text-align: center;
        color: #525252;
    }

    h3{
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .card.info-box {
        overflow: scroll;
        border-radius: 10px;
        text-align: center;
        .card-content {
            padding: 2em;
            font-size: 1em;
            color: #555;
        }
    }

    .btn-next{
        background-color: #a96ba7;
        color: white;
        font-size: 1.2em;
        font-weight: 200;
        padding: .7em;
        margin: 1em 0;
        border-radius: 20em;
        width: 90vw;
    }

}
