page-img-modal {
    .body{
      z-index: -1;
      height: 100vh;
      width: 100%;
      position: relative;
      margin: 0;
      padding: 0;
    }
    div{
      position: absolute;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    .main{
      height: 100vh;
      width: 100%;
      top: 0;
      left: 0;
    }
    .backgroundclass{
      position: absolute;
      z-index: 2;
      height: 100vh;
      width: 100%;
      top: 0; left: 0;
    }
    .img{
      top: 0;
      height: 100vh;
      width: 100vw;
    }
    .imgs{
      top: 0;
      height: 100vh;
      width: 100vw;
    }
    .slider{
      top: 0;
      height: 100vh;
      width: 100vw;
    }
}
