page-room-create-complete {

    // start header bar
    .header-bar {
        .navbar {
            background-color: #775576;
            text-align: center;
            padding-left: 0px;
            padding-right: 0px;
        }

        .toolbar-background {
            background-color: #775576;
        }
        .title {
            padding-left: 0px !important;
            padding-right: 0px !important;
            min-height: 41px;
            .toolbar-title {
                color: #fff;
                margin: 4px 0px;
            }
        }
    }
    .btn-back {
        position: absolute !important;
        button {
            background-color: transparent;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            -webkit-transition: none !important;
            transition: none !important;
            transition: none !important;
            transition: none !important;
        }
        .icon-back {
            font-size: 22px !important;
        }
    }
    .header-action-bar {
        position: absolute !important;
        right: 10px;
    }
    // end header bar

    .title-view {
        margin-top: 30px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.36);
        input{
            width: 100%;
            font-size: 20px;
            text-align: center;
        }
    }
    .is-invalid {
        border: 0.55px solid red !important;
    }
    .error-message {
        text-align: center;
        width: 100%;
        color: red;
    }

    .img-view {
        margin-top: 20px;
        padding-bottom: 10px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.36);
        text-align: center;
        .main-avatar {
            margin-top: 15px;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 0.55px solid #c8c7cc;
            background-image: url(../assets/imgs/logo_Seul.png);
        }
        .btn-change-image {
            margin: 5px 10px;
            img {
                width: 60px;
                height: 60px;
            }
        }
    }
    .scroll-content {
        overflow: hidden;
    }

    .description {
        margin: 0px 15px;
        border: 0.55px solid #c8c7cc;
        ion-textarea {
            padding: 5px 10px;
        }
    }
    .btn-update {
        background-color: #775576;
        position: absolute;
        width: calc(100vw - 40px);
        margin-left: 20px;
        bottom: 20px;
    }

    @media screen and (max-width: 359px) {
        .main-avatar {
            width: 70px !important;
            height: 70px !important;
        }
        .btn-change-image {
            img {
                width: 50px !important;
                height: 50px !important;
            }
        }
        .btn-update {
            bottom: 10px !important;
        }
    }

}
