<ion-content class="body">
  <div class="navbar">
    <a (click)="goToLogin()"><i class="fa fa-angle-left"></i></a>
    <img src="../../assets/imgs/WATOG_Logo_RioDeJaneiro_Final.png" alt="WATOG LOGO" class="brand-logo img-fluid-height">
  </div>
  <section class="position">
    <div class="container">
      <div class="row">
        <div class="col-1"></div>
          <div class="col">
            <p class="text-huge">Register</p>
          </div>
          <div class="col text-right">
            <p class="text-huge">1/3</p>
          </div>
          <div class="col-1"></div>
        </div>
      </div>
  </section>

  <section class="sign-in">
    <div class="upload-profil-picture container-fluid" (click)="navToUploadProfilePhoto()">
      <div class="container">
        <div class="row">
          <div class="col-4 justify-content-right">
            <div id="profil-picture">
              <!--Image is the css property background-image: url(...);-->
            </div>
          </div>
          <div class="col-8" class="profile-picture-description align-middle">
            <p class="font-weight-light">Upload a profile picture <br> (optional)</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md">
          <div class="text-center div-upload-cover-photo">
            <a href="#" (click)="navToUploadCoverPhoto()" class="btn btn-info upload-cover-photo"><p class="font-weight-light">Upload cover photo</p><img src="../../assets/icon/Upload.png" alt=""></a>
          </div>

          <form [formGroup]="registerForm">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><img src="../../assets/icon/Profil.png" alt="login logo"></span>
                </div>
                <ion-input type="text" class="form-control font-weight-light" id="FirstNameInput" aria-describedby="login-picture" placeholder="First Name*" formControlName="firstName"></ion-input>
            </div>
            <p class="err_msg" *ngIf="!registerForm.controls.firstName.valid && registerForm.controls.firstName.touched">Please enter first name</p>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><img src="../../assets/icon/Profil.png" alt="password logo"></span>
                </div>
                <ion-input type="text" class="form-control font-weight-light" id="LastNameInput" aria-describedby="passwd-picture" placeholder="Last Name*" formControlName="lastName"></ion-input>
            </div>
            <p class="err_msg" *ngIf="!registerForm.controls.lastName.valid && registerForm.controls.lastName.touched">Please enter last name</p>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><img src="../../assets/icon/Profil.png" alt="pseudo icon"></span>
                </div>
                <ion-input type="text" class="form-control font-weight-light" id="PseudoInput" aria-describedby="pseudo-picture" placeholder="Pseudo*" formControlName="pseudo"></ion-input>
            </div>
            <p class="err_msg" *ngIf="!registerForm.controls.pseudo.valid && registerForm.controls.pseudo.touched">Please enter pseudo</p>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><img src="../../assets/icon/Password.png" alt="password logo"></span>
                </div>
                <ion-input type="password" class="form-control font-weight-light" id="PasswordInput" aria-describedby="passwd-picture" placeholder="Password*" formControlName="password"></ion-input>
            </div>
            <p class="err_msg" *ngIf="!registerForm.controls.password.valid && registerForm.controls.password.touched">Please enter password</p>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><img src="../../assets/icon/Password.png" alt="password logo"></span>
                </div>
                <ion-input type="password" class="form-control font-weight-light" id="ConfirmPasswordInput" aria-describedby="passwd-picture" placeholder="Confirm Password*" formControlName="confirmPassword"></ion-input>
            </div>
            <p class="err_msg" *ngIf="!registerForm.controls.confirmPassword.valid && registerForm.controls.confirmPassword.touched">Please enter confirm Password</p>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><img src="../../assets/icon/Mail02.png" alt="password logo"></span>
                </div>
                <ion-input type="email" class="form-control font-weight-light" id="EmailInput" aria-describedby="passwd-picture" placeholder="Email*" formControlName="email"></ion-input>
            </div>
            <p class="err_msg" *ngIf="!registerForm.controls.email.valid && registerForm.controls.email.touched">Please enter email</p>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><img src="../../assets/icon/Phone.png" alt="password logo"></span>
                </div>
                <ion-input type="number" class="form-control font-weight-light" id="PhoneInput" aria-describedby="passwd-picture" placeholder="Cell Phone*" formControlName="phone"></ion-input>
            </div>
            <p class="err_msg" *ngIf="!registerForm.controls.phone.valid && registerForm.controls.phone.touched">Please enter phone number</p>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><img src="../../assets/icon/Location.png" alt="password logo"></span>
                </div>
              <ion-select class="form-control font-weight-light" id="CountryInput" aria-describedby="passwd-picture" placeholder="Country*" name="country" formControlName="country">
                <ion-option *ngFor="let item of countries" value="{{item}}">{{item}}</ion-option>
              </ion-select>
            </div>
            <p class="err_msg" *ngIf="!registerForm.controls.country.valid && registerForm.controls.country.touched">Please enter country</p>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><img src="../../assets/icon/Hopital.png" alt="password logo"></span>
                </div>
                <ion-input type="text" class="form-control font-weight-light" id="HospitalInput" aria-describedby="passwd-picture" placeholder="Hospital" formControlName="hospital"></ion-input>
            </div>
            <div class="text-center div-link-qualif">
              <a href="#" (click)="openMenu()" id="qualificationInput" class="btn font-weight-light"> Select qualification </a>
            </div>
            <div class="text-center div-btn-submit">
              <button [disabled]="!registerForm.valid" class="btn btn-submit btn-md" (click)="goToRegisterTwoOfThree()">NEXT</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <div id="qualificationInputMenu" class="down-menu">
    <a href="#" (click)="closeMenu()" class="btn-close">X</a>
    <div class="container">
      <div class="row">
        <div class="col">
          <ul class="font-weight-light">
            <li><a href="#" (click)="selectQualification('Trainee or resident in OB/GYN')">Trainee or resident in OB/GYN</a></li>
            <hr>
            <li><a href="#" (click)="selectQualification('Fellow or Young OB/GYN')">Fellow or Young OB/GYN (Less than 10 years after entering OB/GYN residency</a></li>
            <hr>
            <li><a href="#" (click)="selectQualification('Confirmed OB/GYN')">Confirmed OB/GYN (More than 10 years after entering OB/GYN residency)</a></li>
            <hr>
            <li><a href="#" (click)="selectQualification('Medical Student')">Medical Student (Not OB/GYN yet)</a></li>
            <hr>
            <li><a href="#" data-toggle="modal" data-target="#modal-other-speciality" (click)="selectQualification('Medical Doctor, Other Speciality')">Medical Doctor, Other Speciality</a></li>
            <hr>
            <li><a href="#" (click)="selectQualification('Mid Wife')">Mid Wife</a></li>
            <hr>
            <li><a href="#" (click)="selectQualification('Other')">Other: Please specify</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="modal-other-speciality" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title ">Enter other speciality</h5>
            <button id="btn-modal-close" type="button" class="close hide" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body p-4">
                <ion-input type="text" class="form-control font-weight-light" [(ngModel)]="registerInfo.other_speciality" name="other_speciality" [ngModelOptions]="{standalone: true}"></ion-input>
          </div>
          <div class="modal-footer">
              <button ion-button round color="light" class="text-uppercase mr-3" data-dismiss="modal" (click)="cancelOtherSpeciality()">Cancel</button>
              <button ion-button round color="teal" class="text-uppercase" (click)="saveOtherSpeciality()">OK</button>
          </div>
        </div>
      </div>
    </div>
</ion-content>
