<ion-content class="body">
  <div class="navbar">
    <a (click)="goToLogin()"><i class="fa fa-angle-left"></i></a>
    <img src="assets/imgs/WATOG_Logo_RioDeJaneiro_Final.png" alt="WATOG LOGO" class="brand-logo img-fluid-height">
  </div>
  <section class="position">
    <div class="container">
      <div class="row">
        <div class="col-1"></div>
          <div class="col">
            <p class="text-huge">Register</p>
          </div>
          <div class="col text-right">
            <p class="text-huge">1/3</p>
          </div>
          <div class="col-1"></div>
        </div>
      </div>
  </section>
  <form (ngSubmit)="register()" [formGroup]="validations_form">
    <section class="sign-in">
      <div class="upload-profil-picture container-fluid checked" (click)="navToUploadProfilePhoto()">
        <div class="container">
          <div class="row">
            <div class="col-4 justify-content-right">
              <div id="profil-picture">
                <img [src]="profile_image">
                <!--<ion-checkbox [(ngModel)]="profile_selected" formControlName="profile_selected" style="display:none;">
                </ion-checkbox>-->
              </div>
            </div>
            <div class="col-8" class="profile-picture-description align-middle">
              <p class="font-weight-light">Upload a profile picture <br> (optional)</p>
              <!--<div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.profile_selected">
                  <div class="error-message" *ngIf="validations_form.get('profile_selected').hasError(validation.type) && (validations_form.get('profile_selected').dirty || validations_form.get('profile_selected').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>-->
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md">
              <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text"><img src="assets/icon/Profil.png" alt="login logo"></span>
                  </div>
                  <ion-input type="text" class="form-control font-weight-light" id="FirstNameInput" aria-describedby="login-picture" placeholder="First Name*" [(ngModel)]="user.first_name" formControlName="first_name"></ion-input>
              </div>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.first_name">
                  <div class="error-message" *ngIf="validations_form.get('first_name').hasError(validation.type) && (validations_form.get('first_name').dirty || validations_form.get('first_name').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
              <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text"><img src="assets/icon/Profil.png" alt="password logo"></span>
                  </div>
                  <ion-input type="text" class="form-control font-weight-light" id="LastNameInput" aria-describedby="passwd-picture" placeholder="Last Name*" [(ngModel)]="user.last_name" formControlName="last_name"></ion-input>
              </div>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.last_name">
                  <div class="error-message" *ngIf="validations_form.get('last_name').hasError(validation.type) && (validations_form.get('last_name').dirty || validations_form.get('last_name').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
              <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text"><img src="assets/icon/Profil.png" alt="pseudo icon"></span>
                  </div>
                  <ion-input type="text" class="form-control font-weight-light" id="PseudoInput" aria-describedby="pseudo-picture" placeholder="Pseudo*" [(ngModel)]="user.user_name" formControlName="user_name"></ion-input>
              </div>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.user_name">
                  <div class="error-message" *ngIf="validations_form.get('user_name').hasError(validation.type) && (validations_form.get('user_name').dirty || validations_form.get('user_name').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>

              <div formGroupName="matching_passwords">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><img src="assets/icon/Password.png" alt="password logo"></span>
                    </div>
                    <ion-input type="password" class="form-control font-weight-light" id="PasswordInput" aria-describedby="passwd-picture" placeholder="Password*" [(ngModel)]="user.password" formControlName="password"></ion-input>
                </div>
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.password">
                    <div class="error-message" *ngIf="validations_form.get('matching_passwords').get('password').hasError(validation.type) && (validations_form.get('matching_passwords').get('password').dirty || validations_form.get('matching_passwords').get('password').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><img src="assets/icon/Password.png" alt="password logo"></span>
                    </div>
                    <ion-input type="password" class="form-control font-weight-light" id="ConfirmPasswordInput" aria-describedby="passwd-picture" placeholder="Confirm Password*" [(ngModel)]="pass_conf" formControlName="confirm_password"></ion-input>
                </div>
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.confirm_password">
                    <div class="error-message" *ngIf="validations_form.get('matching_passwords').get('confirm_password').hasError(validation.type) && (validations_form.get('matching_passwords').get('confirm_password').dirty || validations_form.get('matching_passwords').get('confirm_password').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>
              </div>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.matching_passwords">
                  <div class="error-message" *ngIf="validations_form.get('matching_passwords').hasError(validation.type) && (validations_form.get('matching_passwords').get('confirm_password').dirty || validations_form.get('matching_passwords').get('confirm_password').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
              <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text"><img src="assets/icon/Mail02.png" alt="password logo"></span>
                  </div>
                  <ion-input type="email" class="form-control font-weight-light" id="EmailInput" aria-describedby="passwd-picture" placeholder="Email*" [(ngModel)]="user.email" formControlName="email"></ion-input>
              </div>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.email">
                  <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
              <div formGroupName="country_phone">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><img src="assets/icon/Location.png" alt="password logo"></span>
                  </div>
                  <ion-select class="form-control font-weight-light" id="CountryInput" aria-describedby="passwd-picture" placeholder="Country*" formControlName="country" [(ngModel)]="country">
                    <ion-option *ngFor="let item of countries" [value]="item">{{item.name}}</ion-option>
                  </ion-select>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><img src="assets/icon/Phone.png" alt="password logo"></span>
                    </div>
                    <ion-input type="text" class="form-control font-weight-light" id="PhoneInput" aria-describedby="passwd-picture" [textMask]="{mask: validations_form.value.country_phone.country.phone_mask}" placeholder="{{ validations_form.value.country_phone.country.sample_phone }}" [(ngModel)]="user.cell_phone" formControlName="phone"></ion-input>
                </div>
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.phone">
                    <div class="error-message" *ngIf="validations_form.get('country_phone').get('phone').hasError(validation.type) && (validations_form.get('country_phone').get('phone').dirty || validations_form.get('country_phone').get('phone').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>
              </div>
              <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text"><img src="assets/icon/Hopital.png" alt="password logo"></span>
                  </div>
                  <ion-input type="text" class="form-control font-weight-light" id="HospitalInput" aria-describedby="passwd-picture" placeholder="Hospital" [(ngModel)]="user.hospital" formControlName="hospital" (ionFocus)="checkFocus()"></ion-input>
              </div>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.hospital">
                  <div class="error-message" *ngIf="validations_form.get('hospital').hasError(validation.type) && (validations_form.get('hospital').dirty || validations_form.get('hospital').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
              <div class="input-group">
                <a href="#" (click)="openMenu()" id="qualificationInput">
                  <ion-input type="text" class="form-control font-weight-light" id="JobInput" aria-describedby="passwd-picture" placeholder="Select qualification" [(ngModel)]="user.job" formControlName="job" contenteditable="false"></ion-input>
                </a>
              </div>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.job">
                  <div class="error-message" *ngIf="validations_form.get('job').hasError(validation.type) && (validations_form.get('job').dirty || validations_form.get('job').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
              <div class="text-center div-btn-submit">
                <button type="submit" class="btn btn-submit btn-md" [disabled]="!validations_form.valid">NEXT</button>
              </div>
          </div>
        </div>
      </div>
    </section>
  </form>

  <div id="qualificationInputMenu" class="down-menu" *ngIf="isShow()">
    <a href="#" (click)="closeMenu()" class="btn-close">X</a>
    <div class="container">
      <div class="row">
        <div class="col">
          <ul class="font-weight-light">
            <li><a href="#" (click)="selectQualification('Trainee or resident in OB/GYN')">Trainee or resident in OB/GYN</a></li>
            <hr>
            <li><a href="#" (click)="selectQualification('Fellow or Young OB/GYN')">Fellow or Young OB/GYN (Less than 10 years after entering OB/GYN residency</a></li>
            <hr>
            <li><a href="#" (click)="selectQualification('Confirmed OB/GYN')">Confirmed OB/GYN (More than 10 years after entering OB/GYN residency)</a></li>
            <hr>
            <li><a href="#" (click)="selectQualification('Medical Student')">Medical Student (Not OB/GYN yet)</a></li>
            <hr>
            <li><a href="#" (click)="selectQualification('Medical Doctor')">Medical Doctor, Other Speciality</a></li>
            <hr>
            <li><a href="#" (click)="selectQualification('Mid Wife')">Mid Wife</a></li>
            <hr>
            <li><a href="#" data-toggle="modal" data-target="#modal-other-speciality" (click)="selectQualification('Medical Doctor, Other Speciality')">Other: Please specify</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="modal-other-speciality" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title ">Enter your qualification</h5>
            <button id="btn-modal-close" type="button" class="close hide" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body p-4">
                <ion-input type="text" class="form-control font-weight-light" [(ngModel)]="user.other_speciality" name="other_speciality" [ngModelOptions]="{standalone: true}"></ion-input>
          </div>
          <div class="modal-footer">
              <button ion-button round color="light" class="text-uppercase mr-3" data-dismiss="modal" (click)="cancelOtherSpeciality()">Cancel</button>
              <button ion-button round color="teal" class="text-uppercase" (click)="saveOtherSpeciality()">OK</button>
          </div>
        </div>
      </div>
    </div>
</ion-content>
