<ion-header class="header-bar">
    <div class="navbar">
        <ion-buttons class="btn-back" (click)="goBack()">
            <button ion-button><ion-icon class="icon-back"name="arrow-back"></ion-icon></button>
        </ion-buttons>
        <ion-title>Room Info</ion-title>
        <header-action-bar class="header-action-bar"></header-action-bar>
    </div>
</ion-header>

<ion-content no-padding>
  <div class="messages-number-view">
    <ion-icon name="ios-chatboxes-outline"></ion-icon>
    <p class="message-label">Messages</p>
    <p class="message-count">{{roomData.message_count}}</p>    
  </div>
  <div class="contacts-view">
    <div class="contacts-view-header">
        <ion-icon name="md-contacts"></ion-icon>
        <p class="contacts-label">Users {{userCount}}</p>
      </div>
      <ion-list class="contact-list">
        <ion-item>
            <ion-avatar item-left>
                <img *ngIf="!admin.picture_profile" src="../../assets/imgs/image_avatar.png">      
                <img *ngIf="admin.picture_profile" [src]="admin.picture_profile">
            </ion-avatar>
            <h3>{{admin.first_name+" "+admin.last_name}}</h3>
            <p>{{admin.country}}</p>
            <div class="group-admin">GROUP ADMIN</div>
        </ion-item>          
        <ion-item  *ngFor="let member of members">
            <ion-avatar item-left>
                <img *ngIf="member.User.picture_profile" [src]="member.User.picture_profile">
                <img *ngIf="!member.User.picture_profile" src="../../assets/imgs/image_avatar.png">      
            </ion-avatar>
            <h3>{{member.User.first_name+""+member.User.last_name}}</h3>
            <p>{{member.User.country}}</p>
        </ion-item>                 
      </ion-list>
  </div>
</ion-content>