page-room-info {
    // start header bar
    .header-bar{
        .navbar{
            background-color: #775576;
            text-align: center;
            padding-left: 0px;
            padding-right: 0px;
        }

        .toolbar-background {
            background-color: #775576;
        }
        .title {
            padding-left: 0px !important;
            padding-right: 0px !important;
            min-height: 41px;
            .toolbar-title {
                color: #fff;
                margin: 4px 0px;
            }
        }        
    }
    .btn-back{
        position: absolute !important;
        button {
            background-color: transparent;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            -webkit-transition: none !important;
            transition: none !important;
            transition: none !important;
            transition: none !important;
        }
        .icon-back{
            font-size: 22px !important;
        }
    }
    .header-action-bar {
        position: absolute !important;
        right: 10px;
    }
    // end header bar

    .messages-number-view{
        display: flex;
        margin: 20px;
        border-radius: 5px;
        padding: 10px;
        align-items: center;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.36);
        p{
            margin: 0px;
        }
        ion-icon{
            font-size: 30px;
            float: left;
        }
        .message-label{
            font-size: 20px;
            margin-left: 20px;
        }
        .message-count{
            flex: 1;
            text-align: right;
            font-size: 24px;
        }
    }
    .contacts-view{
        margin-top: 10px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.36);
        .contacts-view-header{
            display: flex;
            padding: 10px 20px;
            align-items: center;
            ion-icon{
                font-size: 22px;
            }
            p {
                margin: 0;
                margin-left: 10px;
                font-size: 16px;
            }
        }
        .contact-list{
            padding: 0px 10px 20px 10px;
            ion-item{
                border-bottom: 0.55px solid #c8c7cc;
            }
            ion-item:first-child { border-top:none;}
            .group-admin{
                position: absolute;
                font-size: 11px;
                right: 0;
                bottom: 0px;
                background-color: #c8c7cc;
                padding: 5px 10px;
            }
        }
    }
    .pull-right{
        position: absolute;
        right: 15px;
        b{
            color: red;
        }
    }
    .btn-trash{
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;        
        background-color: #808080;
        ion-icon {
            color : #ffffff;
            font-size: 30px;
        }
    }
}
